body {
  overflow: scroll;
}

/* Header */
.header{
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: MediumAquamarine;
  z-index: 20;
  background-color: white;
  border-bottom: 1px solid black;
  padding: 10px 0px;
  flex-wrap: wrap;
}
.nameAndLogo{
  display: inline-flex;
  align-items: center;
  border: 1px solid black;
  padding: 0px 250px 0px 30px;
  flex-grow: 3;
}
.header nav{
  display: inline-flex;
  padding-right: 40px;
  align-items: center;
  flex-wrap: wrap;
}
span, .header p{
  padding: 10px;
}

/*Body of the newsletter*/
div.mainContainer{
  width: 1260px;
  margin: 0 auto;
  display: flex;
  border: 1px solid black;
  align-items: stretch;
  position: relative;
  top: 75.5px;
}
.mainContainer p{
  font-family: Georgia;
  font-size: 17px;
  color: black;
  font-weight: normal;
}
.left-top-title, .inside-story1, .inside-story2,
.middle-bottom-title{
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  height: 300px;
  text-align: center;
}
.left-column{
  display: inline-flex;
  width: 630px;
  border: 1px solid black;
  margin: 30px 15px 0px 0px;
  flex-direction: column;
}
.middle-column{
  display: inline-flex;
  width: 300px;
  border: 1px solid black;
  margin: 30px 15px 0px 15px;
  flex-direction: column;
}
.right-column{
  display: inline-flex;
  width: 240px;
  border: 1px solid black;
  margin: 30px 30px 0px 15px;
  flex-direction: column;
}
.left-top{
  border: 1px solid black;
}
.left-top-title{
  border: 1px solid black;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png);
  font-size: 40px;
  text-align: left;
}
.inside-story1{
  border: 1px solid black;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png);
}
.inside-story2{
  border: 1px solid black;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png);
}
.middle-top{
  border: 1px solid black;
}
.middle-bottom {
  border: 1px solid black;
}
.middle-bottom-title{
  border: 1px solid black;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png);
}
.right-middle {
  border: 1px solid black;
}
